{% load staticfiles %}

<html>
	<head>
		<title>Project Scheduler</title>
		<link rel="stylesheet" href="{% static "scheduler/style.css" %}">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	
	<body>	
		<div class="header">
			<h1><a href="/">Project Scheduler</a></h1>
		</div>
		<div class="content-block">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>