{% extends "scheduler/base.html" %}

{% block content %}

{% if project_detail %}
	<h2>{{ object.project_name }}</h2>
		<div class="milestone-list">
			<ul class="milestone">
				<li> <strong>Start Date: </strong>{{ object.start_date }}</li>
				<li> <strong>Design Approval: </strong>{{ object.design_approval }}</li>
				<li> <strong>Programming Starts: </strong>{{ object.programming_start }}</li>
				<li> <strong>Programming Complete: </strong>{{ object.programming_complete }}</li>
				<li> <strong>QA Complete: </strong>{{ object.qa_complete }}</li>
			</ul>
		</div>
		<div class="reschedule-form-container">
			<p> Select the number of days in the future that this project's milestones dates should be moved forward.</p>
			<form method="POST" class="reschedule-form">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="save-button">Reschedule</button>
			</form>
		</div>

{% endif %}		
{% endblock content %}		